#details-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.post-cont {
    display: flex;
}

.post {
    border: 1px solid black;
    margin: 3px;
}

h1 {
    text-align: center;
}

img {
    height: 200px;
    width: 200px;
    display: inline;
}
a {
    display: inline;
}

.tag {
    color: white;
    background-color: blue;
    border-radius: 30%;
    transform: scaleY(.90);
    margin: 3px;
}