{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet"  href="../static/edit.css">
{% endblock %}

{% block content %}
    <h1>Edit Post</h1>
    <form action="/posts/{{post.id}}/edit" method="POST">
        <label for="title">Post Title:</label>
        <input type="text" name="title" id="title" value="{{post.title}}">
        <br>
        <label for="content">Post Content:</label>
        <textarea type="text" name="content" id="content" value="{{post.content}}">{{post.content}}</textarea>
        <div id='tags'>
            {% for tag in tags %}
            <div>
                <input type="radio" name='{{tag.name}}' id='{{tag.name}}' checked>
                <label for="{{tag.name}}">{{tag.name.capitalize()}}</label>
            </div>
            {% endfor %}
            {% for tag in all_tags %}
            <div>
                <input type="radio" name='{{tag.name}}' id='{{tag.name}}' >
                <label for="{{tag.name}}">{{tag.name.capitalize()}}</label>
            </div>
            {% endfor %}
        <button>Submit</button>

    </form>
{% endblock %}